<%- include('../partials/html') %>

<head>
  <%- include('../partials/title-meta', { title: title }) %>
  <%- include('../partials/head-css') %>
</head>

<body>
<div class="wrapper">

  <%- include('../partials/menu') %>

  <div class="page-content">
    <div class="page-container">

      <!-- Header -->
      <div class="page-title-box mb-3">
        <h4 class="page-title">Filing Workspace</h4>
        <p class="text-muted mb-0">Matter #<%= matterId %></p>
      </div>

      <!-- Tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#upload">
            Upload Pleadings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#merge">
            Merge Pack
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#indexing">
            Indexing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#signatories">
            Signatories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#oath">
            Oath
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#checklist">
            Filing Review
          </a>
        </li>
      </ul>

      <!-- Tab Content -->
      <div class="tab-content mt-3">

        <div id="upload" class="tab-pane fade show active">
          <%- include('filing/upload') %>
        </div>

        <div id="merge" class="tab-pane fade">
          <%- include('filing/merge-pack') %>
        </div>

        <div id="indexing" class="tab-pane fade">
          <%- include('filing/indexing') %>
        </div>

        <div id="signatories" class="tab-pane fade">
          <%- include('filing/signatories') %>
        </div>

        <div id="oath" class="tab-pane fade">
          <%- include('filing/oath') %>
        </div>

        <div id="checklist" class="tab-pane fade">
          <%- include('filing/checklist') %>
        </div>

      </div>

    </div>

    <%- include('../partials/footer') %>
  </div>
</div>

<%- include('../partials/footer-scripts') %>
</body>
</html>
