<%- include('partials/html') %>

<head>
    <%- include('partials/title-meta') %>

    <%- include('partials/head-css') %>
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper">

        <%- include('partials/menu') %>

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="page-content">

            <div class="page-container">


            </div>
            <!-- container -->

            <%- include('partials/footer') %>

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <%- include('partials/customizer') %>

    <%- include('partials/footer-scripts') %>

</body>

</html>